* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: gray;
}

.container {
    position: relative;
}

.tools {
    position: absolute;
    top: 10px;
    padding: .5em;
    background: #ccc;
}

.tools>div {
    margin-bottom: .5em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
}

.tools>div:hover {
    cursor: pointer;
    border: solid 1px blue;
}

.penBlack {
    background: black;
}

.penWhite {
    background: white;
}

.penRed {
    background: red;
}

.tools div:nth-child(4),
.tools div:nth-child(5),
.tools div:nth-child(6) {
    line-height: 1.1em;
}

.tools .penEraser {
    height: 2.6em;
    border-radius: 0;
    background: white;
}

.tools .bgcBlack,
.tools .bgcWhite {
    border-radius: 0;
}

.tools .bgcBlack {
    background: black;
}

.tools .bgcWhite {
    background: white;
}